.car-top-container img{
    height: 270px ;
    width: 310px;
    padding: 10px;
}

/*.car-text-container text{
    width: 100%;
    margin-bottom: 15px;
    padding: 90px;
}*/

.car-text-container h6{
    text-align: center;
}

@media(min-width: 576px){

    .car-top-container img{
        height: 300px ;
        width: 310px;
        padding: 10px;
    }

}

@media(min-width: 768px){
    .car-top-container img{
        height: 400px ;
        width: 3500px;
        align-items: center;
        width: 100%;
        padding-top: 50px;
    }

    .car-text-container text{
        width: 100%;
        margin-bottom: 15px;
        padding: 90px;
    }

}

@media(min-width: 992px){
    .car-top-container img{
        height: 400px ;
        width: 3500px;
        align-items: center;
        width: 100%;
        padding-top: 50px;
    }

}

@media(min-width: 1200px){
    .car-top-container img{
        height: 400px ;
        width: 3500px;
        align-items: center;
        width: 100%;
        padding-top: 50px;
    }
}